{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<section>

    <div class="container">

        <div class="">
            <div class="">
                <img src="{% static 'images/forest/forest2.jpg' %}" alt="">
            </div>

            <div>
                <h1>animal kingdom</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat rerum magnam nulla blanditiis, voluptate nobis veritatis ipsam! Voluptatum, magnam nobis quibusdam provident nemo minus odit fugiat ipsa soluta ut aliquid? <br><br></p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat rerum magnam nulla blanditiis, voluptate nobis veritatis ipsam! Voluptatum, magnam nobis quibusdam provident nemo minus odit fugiat ipsa soluta ut aliquid? <br><br></p>

            </div>
            
        </div>

    </div>

</section>


{% endblock %}