/* import fonts from fonts.css file */
@import url(./fonts.css);

*{
    font-family: sans-serif, 'Times New Roman';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
   
}

body{
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#2b1055, #7597de);
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 100px;
    display: flex;
    justify-content:  space-between;
    align-items: center;
    z-index: 10000;
}

.logo{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
    margin-left:20px ;
}

header ul li a{
    text-decoration: none;
    padding:6px 15px;
    color: #fff;
    border-radius: 50px;
}

header ul li a:hover,
.active{
    background: #fff;
    color: #2b1055;
    /* transition: all .1s ease-in-out; */

}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#1c0522,transparent);
    z-index: 1000;
}

section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img#moon{
    mix-blend-mode: screen;
}

section img#mountains_front{
    z-index: 10;
}

section .moontxt {
    position: absolute;
    text-align: center;
    color: #fff;
    margin-top: 5rem;
    padding-top: 5rem;
    z-index: 9;
    transform: translateX(50px);
    
}

section .moontxt h2#text{
    position: absolute;
    right: -800px;
    white-space: nowrap;
    font-size: 6vw;
    /* font-size: 1.5em; */
    transform: translateY(-100px);
}

section .moontxt span{
    font-size: 1vw;
}

section .moontxt h6{

    font-size: 1.5vw;
    z-index: 10;
}

#btn{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 9;

    transform: translate(50px, 150px);
}

.sec{
    position: relative;
    padding: 100px;
    background: #1c0522;
}

.sec h2{
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #fff;
    font-size: 2.5em;
}

.sec p{
    color: #fff;
    font-size: 1.1em;
}

.scene{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.scene h2{
    position: absolute;
    text-align: center;
    color: #fff;
    /* right: -800px; */
    white-space: nowrap;
    font-size: 7.5vw;
    /* font-size: 1.5em; */
    /* transform: translateY(-100px); */
    z-index: 9;
    /* transform: translateX(50px); */
}

/* .sec::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#1c0522,transparent);
    z-index: 1000;
} */


.scene img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.scene button{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 50px;
    background: #fff;
    color: #2b1055;
    font-size: 2em;
    z-index: 9;

    transform: translate(0px, 100px);
}