{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
    {{ post.title_tag }}
{% endblock %}

{% block content %}

<!-- ----------------------- Main Site Section ---------------------------- -->


<link rel="stylesheet" href="{% static 'css/blog/style.css' %}">
<main>
    <!-- --------------- Site Content ------------- -->

    <section class="container">
        <div class="site-content">

 
            <div class="posts">
                {% for post in posts %}
                <div class="post-content">
                    
                    <div class="post-image">
                        {% if post.image %}
                        <div>
                            <img class="img" src="{{post.image.url}}" alt="Blog-post">
                        </div>
                        {% endif %}
                        
                        <div class="post-info flex-row">
                            <span><i class="fa-solid fa-user text-grey" aria-hidden="true"></i>&nbsp;&nbsp;{{ post.author }}</span>
                            <span><i class="fa-sharp fa-solid fa-calendar-days text-grey" aria-hidden="true"></i>&nbsp;&nbsp;{{post.created|date:'D M Y'}}</span>
                            <span>{{ post.comments }}</span>
                        </div>

                    </div>
                    <div class="post-title">
                        <a class="title" href="#">{{post.title}}</a>
                        <p>{{post.body|truncatechars:200|safe}}</p>
                        <button class="btn post-btn"> <a href="{% url 'post-detail' post.id %}"> Read More &nbsp;<i class="fa fa-arrow-right"></i></a></button>
                    </div>
                </div>
                <hr>
                {% endfor %}

                <div class="pagination flex-row">
                    <a href="#"><i class="fa fa-chevron-left"></i></a>
                    <a href="#" class="pages">1</a>
                    <a href="#" class="pages">2</a>
                    <a href="#" class="pages">3</a>
                    <a href="#"><i class="fa fa-chevron-right"></i></a>
                </div>

            </div>

            <aside class="sidebar" id="search">
                <div class="category">
                    <h2>Category</h2>
                    <h3>{{ post_count }} posts available.</h3>
                    <ul class="category-list">
                        <a href="{% url 'blog' %}">All</a>
                        <!-- <a href="#">({{ post_count }})</a> -->
                    </ul>
                    {% for category in categories %}
                    <ul class="category-list">
                        <li class="list-items">
                            <a href="{% url 'blog' %}?q={{category.name}}">{{category.name}}</a>
                            <!-- <a href="#">({{ post_count }})</a> -->
                        </li>
                    </ul>
                    {% endfor %}
                    <div class="search-container" id="search">
                        <form class="blog-search" method="get" action="#search" role="search">
                            <input class="search-input" name="q" type="search" placeholder="Search" aria-label="Search">
                            <button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
            </aside>
        </div>
    </section>

    <!-- -------@------ End Site Content ------@----- -->

</main>













<!-- ------@----------------- Main Site Section ---------------------@------- -->

{% endblock %}

