{% extends 'navbar.html' %}
{% load static %}
{% block title %}
    {% Create a New Blog Post! %}
{% endblock %}

{% block content %}

<section>
    <div class="container p-5">
        <div class="p-5 bg-light">
    
            <h1 class="">Update Post...</h1>
            <br>
            <div>
                <form class="form-group" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="save btn btn-secondary">Update</button>
                </form>
            </div>

    
        </div>
    
    </div>
</section>


{% endblock %}